@use '../../../shared/variables.scss' as general;
@use '../../personal_variables.scss' as personal;

.background {
  background-color: personal.$quatenary-color;
}

.title {

  font-size: 1.8rem;

  @media screen and (min-width: general.$small-width ) {
    width: 85%;
    // TODO I HATE USING IMPORTANT LIKE THIS!!
    font-size: 2.3rem !important;
  }

  @media screen and (min-width: general.$large-width ) {
    width: 70%;
    // TODO I HATE USING IMPORTANT LIKE THIS!!
    font-size: 3rem !important;
  }
}