@use '../../../shared/variables.scss' as general;
@use '../../personal_variables.scss' as personal;

$text-size-mobile: 0.85rem;
$text-size-desktop: 1.15rem;

.footer {
  width: 100%;
  display: flex;
  align-items: center;

  height: personal.$footer-height;
  background-color: personal.$footer-color;
  color: personal.$footer-font-color;

  font-size: $text-size-mobile;
  text-align: center;

  @media screen and (min-width: general.$small-width ) {
    font-size: $text-size-desktop;
  }
}

.info {
  font-size: $text-size-mobile;

  @media screen and (min-width: general.$small-width ) {
    font-size: $text-size-desktop;
  }
}

.innerFooter {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 0.35rem;

  @media screen and (min-width: general.$small-width ) {
    font-size: $text-size-desktop;
    gap: 0.15rem;
  }
}