@use '../../personal_variables.scss' as personal;

.titleContainer {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;

  padding-bottom: 0.5rem;

  .line {
    flex-grow: 1;
    height: 2px;
    background-color: personal.$grey-four;
    margin: 0 1.25rem;
  }

  .title {
    margin: 0;
    padding: 0;
    font-size: 2rem;

    color: personal.$grey-four;
  }
}

.sectionHeader {
  margin-bottom: 0.5rem;
}

.subTitle {
  color: personal.$grey-four;
  text-align: center;
  font-weight: normal;
}