@use '../../../shared/variables.scss' as general;
@use '../../personal_variables.scss' as personal;

.background {
  background-color: personal.$quatenary-color;
}

.faqs {
  display: flex;
  flex-direction: column;
  gap: 1rem;

  @media screen and (min-width: general.$small-width ) {
    width: 70%;
    margin: 0 auto;
    margin-top: 1rem;
  }
}