@use '../../../shared/variables.scss' as general;

.faqs {
  display: flex;
  flex-direction: column;
  gap: 1rem;

  @media screen and (min-width: general.$small-width ) {
    width: 70%;
    margin: 0 auto;
    margin-top: 1rem;
  }
}