@use '../personal_variables.scss' as personal;

.heroBackground {
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;

  background-image: url('/assets/shed_room.png');
}

.heroLeaveReviewButton {
  cursor: pointer;
  background-color: personal.$primary-color !important;
  border-radius: 2rem;

  padding: 1rem 2rem;
  color: white;
  letter-spacing: 1px;

  border: none;
  font-size: 1rem;

  text-transform: uppercase;
}

.leaveReviewForm {
  color: personal.$secondary-color;
}

.heroTitle {
  color: personal.$secondary-color;
}

.heroButton {
  background-color: personal.$primary-color;
}