@use '../../personal_variables.scss' as personal;

.areas {
  margin-left: 0.5rem;
}

.contactInfo {
  color: personal.$grey-four;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.h3 {
  font-size: 1.85rem;
  font-weight: normal;
}

.h5 {
  font-size: 1rem;
}

.instructions {
  display: flex;
  flex-direction: column;
  gap: .75rem;
}