@use '../../../shared/variables.scss' as general;
@use '../../personal_variables.scss' as personal;

.areas {
  margin-left: 0.5rem;
}

.contactInfo {
  color: personal.$primary-color;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.h3 {
  font-size: 1.35rem;
  font-weight: normal;

  @media screen and (min-width: general.$small-width ) {
    font-size: 1.5rem;
  }

  @media screen and (min-width: general.$large-width ) {
    font-size: 1.75rem;
  }
}

.personalInfo {
  margin-top: 0.75rem;

  @media screen and (min-width: general.$small-width ) {
    margin-top: 0;
  }
}

.serviceAreas {
  margin-top: 0.75rem;

  @media screen and (min-width: general.$small-width ) {
    margin-top: 0;
  }
}

.h5 {
  font-size: 1rem;
}

.companyName {
  margin-top: 0.75rem;

  @media screen and (min-width: general.$small-width ) {
    margin-top: 0;
  }
}

.instructions {
  display: flex;
  flex-direction: column;
  gap: .75rem;

  margin-top: 0.75rem;

  @media screen and (min-width: general.$small-width ) {
    margin-top: 0;
  }

}