// grey color
$primary-color: #959A90;
$secondary-color: #74786C;
$tertiary-color: #E1E3DE;

// header
$header-height-mobile: 6rem;
$header-height-desktop: 8rem;
// $header-color: #F0F0F0;
$header-color: white;
$header-font-color: $secondary-color;

// footer
$footer-height: 8rem;
$footer-color: $tertiary-color;
$footer-font-color: black;