// grey color
$primary-color: #8B572A;
// $primary-color: #D87C30;
$secondary-color: #333333;
$tertiary-color: #CCCCCC;
$quatenary-color: #F4F4F4;

// header
$header-height-mobile: 5rem;
$header-height-desktop: 6rem;
// $header-color: #F0F0F0;
$header-color: $tertiary-color;
$header-font-color: $secondary-color;

// footer
$footer-height: 10rem;
$footer-color: $tertiary-color;
$footer-font-color: $secondary-color;