@use '../../../shared/variables.scss' as general;
@use '../../personal_variables.scss' as personal;

.contactOptions {
  display: flex;
  gap: 3rem;

  margin: 0 auto;

  flex-direction: column;

  @media screen and (min-width: general.$small-width ) {
    flex-direction: row;
  }

  @media screen and (min-width: general.$large-width ) {
    width: 80%;
  }
}

.formTitle {
  text-transform: uppercase;
  color: personal.$secondary-color;
  margin-bottom: 0.5rem;

  text-align: center;
  font-size: 1;

  @media screen and (min-width: general.$small-width ) {
    text-align: left;
    font-size: 1.25rem;
  }

  @media screen and (min-width: general.$large-width ) {
    font-size: 1.5rem;
  }
}

.formFields {
  color: personal.$secondary-color;
  font-weight: bold;
}

.contactInfo {
  flex: 1;
}

.contactFormSection {
  flex: 1;
}

.formSubmitButton {
  cursor: pointer;
  background-color: personal.$primary-color !important;
  border-radius: 1rem;

  padding: 0.5rem 1rem;
  color: white;

  border: none;
  font-size: 1rem;

  text-transform: uppercase;
}