@use '../../../shared/variables.scss' as general;
@use '../../personal_variables.scss' as personal;

.arrowContainer {
  width: 0.75rem;

  @media screen and (min-width: general.$small-width ) {
    width: 1rem;
  }
}

.dropdown {
  border-bottom: 1px solid personal.$tertiary-color;

}

.dropDownQuestion {
  cursor: pointer;
  padding: 1rem 0rem;
  display: flex;
  justify-content: space-between;

  font-size: 1rem;

  @media screen and (min-width: general.$small-width ) {
    font-size: 1.25rem;
  }
}

.dropDownAnswer {
  margin-bottom: 0.5rem;
  color: personal.$secondary-color;

  font-size: 0.9rem;

  @media screen and (min-width: general.$small-width ) {
    font-size: 1.1rem;
  }
}

.hideAnswer {
  display: none;
}